.heading{
    color: blue;
    font-size: xx-large;
    padding-left: 50%;
    
    
}
/* .container{
    background-color: rgb(150, 57, 57); */
body{
    background-color: deeppink;
}
#image{
    width:40% ;
    /* padding-left: 60px; */
    height: 40%;
    margin-block-start: 10%;
    margin-top: -200%;
}
.container ol li{
    display: inline;flex: 5px;
    padding: 25px;
    float:right;
    color: darkgreen;
    font-size: x-large;
}
.heading{
    color: blue;
}
h3{
    float: right;
    font-size: xx-large;
    color: blue;
    padding-top: 60px;
    font-weight: 30%;
}
h5{
    margin-left: 55%;
    padding-top: 10%;
    color: black;
    justify-content: space-between;
    font-size: xx-large;
}
p{
    margin-left: 55%;
    padding-top: 5%;
    color: blue;
    justify-content: space-between;
    font-size: xx-large;
} 
ul li{
    margin-left: 55%;
    padding-top: 10%;
    color: black;
    justify-content: space-between;
    font-size: xx-large;
}
#jpg{
    float: left;
    padding-right: 20px;
    width: 40%;
    height: 10%;
}
button{
    border-radius: 30px;
    color: blue;
    font-size: 15px;
    padding: 15px 32px;
    padding-left: 20%;
    margin-bottom: 20px;
    text-align: center;
    float: right;
}
.button2{
    border-radius: 20px;
    font-size: large;
    color: blue;
    padding-right: 20px;
    float: right;

}
.fa fa instagram



